    /* =========================IMPORT FONT=================== */
    
    @font-face {
        font-family: "Poppins";
        src: url(../font/Poppins/Poppins-Bold.ttf);
    }
    
    @font-face {
        font-family: "Poppin";
        src: url(../font/Poppins/Poppins-Light.ttf);
    }
    /*============================START NAVIGATION===================== */
    
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .container .row {
        width: 1240px;
        margin: 0;
        padding: 0;
        height: auto;
    }
    
    header {
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: 752px;
        background-image: url('../images/Hero background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .view {
        max-width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .navbar {
        margin: auto;
        display: flex;
        max-width: 1240px;
        margin-top: 24px;
        height: 49px;
    }
    
    .nav-item # .btn {
        margin-right: -1000px;
    }
    
    .navbar-brand {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    .navbar .nav-item .nav-link a {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        /* font-weight: 400; */
    }
    
    .navbar .navbar-brand {
        margin-left: -16px;
    }
    
    .nav-item a {
        margin-right: 40px;
    }
    
    .navbar-brand a {
        width: 143px;
        height: 45px;
        left: 100px;
        top: 26px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
        color: #FFFFFF;
    }
    
    .mask .container {
        max-width: 885px;
        height: auto;
        align-items: center;
    }
    
    .fadeIn .col-md-12 {
        max-width: 885px;
        height: 354px;
        margin-top: 199px;
    }
    
    .fadeIn h3 {
        margin-top: 100px;
        margin: 0;
    }
    
    .display-3 {
        height: 160px;
        font-family: ABeeZee;
        font-style: normal;
        font-weight: normal;
        font-size: 68px;
        line-height: 80px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .col-md-12 .display-3 {
        max-width: 885px;
        height: 160px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .subtext-header {
        margin: auto;
        width: 388px;
        height: 84px;
        flex-wrap: wrap;
        justify-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    
    .subtext-header {
        margin-top: 40px;
    }
    
    .text__center {
        width: 163px;
        height: 30px;
        padding-bottom: 0px;
        margin: auto;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        flex-wrap: wrap;
        justify-content: center;
        color: #FFFFFF;
    }
    
    .text__center {
        margin-top: 40px;
    }
    /*===================== START SECTION2 ========================== */
    
    .main__footer {
        width: 1583px;
        height: 3742px;
        margin: auto;
        background: #1C1C1C;
        left: -92px;
        top: 660px;
        margin: 0;
        padding: 0;
    }
    
    #container__section2 {
        max-width: 1240px;
        height: 949px;
        margin: auto;
    }
    
    .text__right {
        margin-top: 77px;
    }
    
    .text____image1 {
        width: 609.97px;
        height: 386px;
        position: absolute;
        left: 42px;
        z-index: 2;
    }
    
    .text__right__image2 {
        width: 609.97px;
        height: 386px;
        position: absolute;
        top: 26px;
        left: 28px;
        z-index: 1
    }
    
    .about {
        width: 72px;
        height: 36px;
        left: 101px;
        top: 849px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;
    }
    
    .line__1 {
        width: 50px;
        height: 0px;
        margin-top: 15px;
        margin-left: 10px;
        opacity: 0.6;
        border: 2px solid black;
        box-sizing: border-box;
    }
    
    .about__flex {
        width: 128px;
        height: 36px;
        display: flex;
    }
    
    .text-right__1 {
        width: 572px;
        height: 114px;
    }
    
    .text-right__1 h2 {
        font-family: ABeeZee;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 57px;
        align-items: center;
        color: black;
        flex-wrap: wrap;
    }
    
    .text-right__2 {
        width: 579px;
        height: 198px;
        margin-top: 30px;
    }
    
    .text-right__2 h3 {
        font-family: Poppins;
        font-style: italic;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        align-items: center;
        color: black;
        flex-wrap: wrap;
    }
    
    .text-left {
        margin-top: 84px;
    }
    
    .text__left__image1 {
        height: 412px;
        width: 563.44px;
        position: absolute;
        background: url(.jpg), #C4C4C4;
        z-index: 2;
        margin-left: 35px;
    }
    
    .text__left__image2 {
        width: 563.44px;
        height: 412px;
        position: absolute;
        margin-top: 35px;
        z-index: 1
    }
    
    .our__flex {
        width: 175px;
        margin-left: 400px;
        height: 36px;
        display: flex;
    }
    
    .our {
        width: 119px;
        height: 36px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-align: right;
        color: black;
        opacity: 0.6;
    }
    
    .line__2 {
        width: 50px;
        height: 0px;
        margin-top: 15px;
        margin-right: 5px;
        opacity: 0.6;
        border: 2px solid black;
        box-sizing: border-box;
    }
    
    .text-left__1 {
        width: 572px;
        margin-top: 14px;
        font-family: ABeeZee;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 57px;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        color: black;
    }
    
    .text-left__2 {
        width: 579px;
        height: 132px;
        margin-top: 30px;
        font-family: Poppins;
        font-style: italic;
        font-weight: normal;
        font-size: 22px;
        flex-wrap: wrap;
        line-height: 33px;
        align-items: center;
        text-align: right;
        color: black;
    }
    /* ======================START SECTION3====================== */
    
    #container__section3 {
        width: 1241px;
        height: 322px;
        margin-top: 150px;
    }
    
    .section3__column1,
    .section3__column2,
    .section3__column3 {
        width: 347.28px;
        height: 215px;
    }
    
    .container__section3__title p {
        width: 414.33px;
        height: 57px;
        font-family: ABeeZee;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 57px;
        align-items: center;
        color: #FFFFFF;
    }
    
    .section3_column1_row1 {
        height: 42px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        align-items: center;
        color: black;
    }
    
    .section3_column2_row2 {
        width: 347.28px;
        height: 99px;
        margin-top: 14px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        color: black;
    }
    
    .section3_column3_row3 {
        display: flex;
    }
    
    .reed__more {
        width: 107.09px;
        height: 30px;
        margin-top: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        align-items: center;
        text-align: right;
        color: black;
    }
    
    .line__3 img {
        width: 16px;
        height: 8.95px;
        margin-top: 40px;
        margin-left: 10px;
        /* background: brown; */
    }
    /*===================== START RESPONSIVE ========================== */
    
    @media (max-width: 740px) {
        html,
        body,
        header,
        .view {
            height: 1000px;
        }
    }
    
    @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .view {
            height: 600px;
        }
    }
    
    .btn .fa {
        margin-left: 3px;
    }
    
    .top-nav-collapse {
        background-color: #424f95 !important;
    }
    
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }
    
    @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
            background: #9c8f8f!important;
        }
    }
    
    .btn-white {
        color: black !important;
    }
    
    h6 {
        line-height: 1.7;
    }
    /* ================STATR RESPONSIVE=============== */
    
    .btn .fa {
        margin-left: 3px;
    }
    
    .top-nav-collapse {
        /* background-color: #424f95 !important; */
    }
    
    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }
    
    @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
            /* background: #9c8f8f!important; */
        }
    }
    
    .btn-white {
        color: black !important;
    }
    
    h6 {
        line-height: 1.7;
    }
    
    @media(max-width:575.9px) {
        html,
        body,
        .container-fruid {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
        .main__section,
        .main__footer {
            width: 100%;
            height: auto;
            margin: auto;
            background: #1C1C1C !important;
        }
        .navbar {
            max-width: 30% !important;
            margin-left: 10px !important;
            flex-wrap: wrap;
            justify-content: center;
        }
        .fadeIn .col-md-12 {
            max-width: 70% !important;
            height: 354px !important;
            margin-top: 199px !important;
            margin-left: -50px !important;
        }
        .display-3 {
            width: 60% !important;
            margin-top: 0px !important;
            font-family: ABeeZee;
            font-style: normal;
            font-weight: 400 !important;
            font-size: 50px !important;
            line-height: 80px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
        }
        .col-md-12 .display-3 {
            margin-left: 25px !important;
        }
        .subtext-header {
            width: 50%;
            height: 84px;
            margin-top: 20px !important;
            margin-left: 60px !important;
            flex-wrap: wrap;
            justify-content: center;
        }
        .text__center {
            width: 163px;
            height: 30px;
            margin-top: 40px !important;
            margin-left: 200px !important;
            padding-bottom: 0px;
            margin: auto;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            line-height: 30px;
            flex-wrap: wrap;
            justify-content: center;
            color: #FFFFFF;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
        }
        /* ====================SECTION 2================== */
        .main__section {
            margin-top: -200px !important;
        }
        #container__section2 {
            max-width: 100% !important;
            margin: auto;
            margin-left: -160px !important;
        }
        #section2__row1 {
            max-width: 100% !important;
            margin: auto;
            display: block;
            justify-content: center;
        }
        #section2__row2 {
            max-width: 100% !important;
            margin: auto;
            display: block;
            justify-content: center;
        }
        .about__flex {
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 200px !important;
            margin-top: -280px !important;
        }
        .text-right__1 {
            width: 100%;
            margin-left: 20px!important;
            font-family: ABeeZee;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 57px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
        }
        .text-right__2 {
            width: 90%;
            margin-left: 40px!important;
            margin-top: 5px !important;
            font-family: Poppins;
            font-style: italic;
            font-weight: normal;
            font-size: 22px;
            line-height: 33px;
            align-items: center;
            color: #FFFFFF;
            flex-wrap: wrap;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
        }
        #text__right2 {
            max-width: 90% !important;
            margin-top: 70px;
        }
        .text__right2__image1 {
            width: 100%;
            margin-left: -5px !important;
            position: absolute;
            left: 23px;
            z-index: 2;
            object-fit: cover;
        }
        .text__right2__image2 {
            width: 100%;
            position: absolute;
            bottom: 26px;
            top: 26px;
            left: 51px;
            object-fit: cover;
            z-index: 1
        }
        /* ========================= */
        .text__left__image1 {
            margin-left: 26px !important;
        }
        .text-left2 {
            width: 100%;
            height: auto;
            margin-left: -5px !important;
            margin-top: 10px !important;
        }
        .our__flex {
            width: 50%;
            height: auto;
            margin-left: 350px!important;
            display: flex !important;
        }
        .line__2 {
            width: 50px !important;
            height: 0px !important;
            margin-top: 15px;
            opacity: 0.6;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
        }
        .text-left__1 h2 {
            max-width: 100% !important;
            height: auto;
            margin-left: 35px !important;
            font-size: 40px!important;
            flex-wrap: wrap !important;
            justify-content: center;
        }
        .text-left__2 h3 {
            max-width: 100% !important;
            height: auto;
            margin-left: -50px !important;
            font-size: 25px!important;
            flex-wrap: wrap !important;
            justify-content: center;
        }
        #container__section3 {
            max-width: 100%;
            height: auto;
            margin-top: 830px;
            display: block;
            justify-content: center;
            margin-left: -100px !important;
        }
        .container #section3__row {
            width: 100%!important;
            height: auto !important;
            display: block;
            justify-content: center;
        }
        .container__section3__title {
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 50px;
        }
        #col-sm-4__col1 #col-sm-4__col2 #col-sm-4__col3 {
            width: 100% !important;
            height: auto;
            font-display: block;
            justify-content: center;
        }
        .container #col-sm-4__col1 {
            width: 100%;
            height: auto;
            margin-left: 100px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .section3__column1 {
            margin: auto;
        }
        .container #col-sm-4__col2 {
            width: 100%;
            height: auto;
            margin-top: 30px;
            margin-left: 100px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .section3__column2 {
            margin-left: -100pxt;
        }
        .container #col-sm-4__col3 {
            width: 100%;
            height: auto;
            margin-top: 30px;
            margin-left: 100px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .section3__column3 {
            margin-left: -200px;
        }
        .container__section4__title {
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            margin-left: 150px;
            font-size: 40px;
            justify-content: center;
            margin: auto;
        }
        .swiper__slide__image img {
            width: 450px;
            height: 682px;
            object-fit: cover;
        }
        .container__section4__title {
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            margin-left: -20px;
            justify-content: center;
            margin: auto;
        }
        /* ==================CONTAINER FOOTER============== */
        #container__footer {
            max-width: 100%;
            height: auto;
            margin-top: 1500px;
            margin: auto;
            color: white;
        }
        .container__footer__line {
            width: 100%;
            margin: auto;
        }
        #container__row__column {
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
        }
        .col-sm-2 #about__jurnal {
            width: 50%;
            height: auto;
            display: block;
        }
        #about__jurnal {
            width: 50%;
            margin-top: 20px;
            margin-left: 150px;
        }
        #service__work {
            width: 50%;
            margin-top: 30px;
            margin-left: 150px;
        }
        #icon__boulevard {
            width: 50%;
            margin-top: 30px;
            margin-left: 50px;
        }
        .count__number1 {
            width: 3%;
            margin-left: 300px;
        }
        /* ======================SECTION5================ */
        .container__section5__title {
            width: 100%;
            height: auto;
            justify-content: center;
            font-size: 40px;
            margin-top: 20px;
            margin-left: 100px;
        }
        .count__number2 {
            width: 8%;
            margin-left: 320px;
            margin-top: -130px;
        }
    }